In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("TOV.csv")

In [3]:
#find R such that P is aproximately 0
data.plot(x="R", y="P")

               R             M             P
0       0.000406  1.144851e-13  1.297307e+27
1       0.000812  9.731233e-13  1.297307e+27
2       0.001218  3.205582e-12  1.297307e+27
3       0.001624  7.498773e-12  1.297307e+27
4       0.002030  1.453961e-11  1.297307e+27
...          ...           ...           ...
35524  14.420682  8.242454e-01  6.573671e+17
35525  14.421088  8.242454e-01  5.092602e+17
35526  14.421494  8.242454e-01  3.832778e+17
35527  14.421900  8.242454e-01  2.781736e+17
35528  14.422306  8.242454e-01  1.926264e+17

[35529 rows x 3 columns]